<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
	 	
           <!-- <div class="panel-group" > -->
			<div class="panel panel-primary"> 
				<div class="table-responsive"> 
					<!--  <span th:utext="${bar.nameGroup}"></span> -->
					<table class="table">
					<tr>
					<!--  <td>Equipo Local </td>
					 <td>Equipo Visitante</td> -->
					 </tr>
				  <tr th:each="match : ${group.matches}">
				 	<td><img th:src="${match.home_equipo.flag}" style="width:20px;height:20px"/></td>
				    <td  th:text="${match.home_equipo.name}" align="left"></td>
				    <td><img th:src="${match.away_equipo.flag}" style="width:20px;height:20px"/></td>
				     <td th:text="${match.away_equipo.name}" align="left"></td>
				  </tr>
				  </table>
				 </div>
			<!-- </div> -->
	 	</div>
 
    </div>
</body>
</html>