<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>Admin Page</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/home.css}" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
	<div class="container">
	 	<div align="right" >
			<form th:action="@{/logout}" method="get">
				<button class="btn btn-md btn-danger"  name="registration"
					type="Submit">Logout</button>
			</form>  
			<form th:action="@{/staduims}" method="get">
					<button class="btn btn-md btn-warning " type="Submit">Lista de Estadios</button>
			</form>	 
		</div> 
		<div class="panel-group" style="margin-top:40px">
			<div class="panel panel-primary">
				<div class="panel-heading">
					<span th:utext="${userName}"></span>
				</div>
				<div class="panel-body">
					<img th:src="@{/images/logoMundial.jpg}" class="img-responsive center-block" width="200" height="200" alt="World Cup 2018" /> 
				</div>
				<!-- <p class="admin-message-text text-center" th:utext="${adminMessage}"></p> -->
			</div>
		</div>
		


<div class="container">
    <ul class="nav nav-tabs" >
        <li class="nav-item" th:each="group, barStat: ${groups}">
            <a class="nav-link  fade in" th:classappend="${group.nameGroup =='GrupoA'} ? 'active'" th:href="@{'#'+ ${group.nameGroup}}" data-toggle="tab" ><label th:text="${group.nameGroup}"></label></a>
        </li>
    </ul>

    <div class="tab-content" >
        <div class="tab-pane fade in" th:classappend="${group.nameGroup =='GrupoA'} ? 'active'" th:id="${group.nameGroup}" th:each="group, barStat: ${groups}">
             <div class="panel-group">
						<div class="panel panel-primary"> 
							<div class="table-responsive">  
								<table class="table">
						 			 <tr th:each="match : ${group.matches}">
						    			<td  th:text="${match.home_equipo.name}" align="left"></td>
						    			<td><img th:src="${match.home_equipo.flag}" style="width:20px;height:20px"/></td>
						    			<td><input type="text" maxlength="2" style="width:20px;height:20px"/></td>
						    			<td><input type="text" maxlength="2"  style="width:20px;height:20px"/></td>
						    			<td><img th:src="${match.away_equipo.flag}" style="width:20px;height:20px"/></td>
						     			<td th:text="${match.away_equipo.name}" align="left"></td>
						     			 <td th:text="${match.date}" align="left"></td>
    
						  			</tr>
						 		 </table>
						 	 </div>
							</div> 
			 			</div>
        </div>
    </div> 
</div>

    </div>
</body>
</html>